{% extends 'base.html.twig' %}

{% block title %}Things to do in Austia{% endblock %}

{% block body %}
<!-- Animation CDN -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <!-- Link Swiper's CSS -->
   <link
   rel="stylesheet"
   href="https://unpkg.com/swiper/swiper-bundle.min.css"
 />
 <!-- Cloudflare CDN -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/2.0.0/css/imagehover.min.css">
  <!-- AniCollection.css library -->
  <link rel="stylesheet" href="http://anijs.github.io/lib/anicollection/anicollection.css">
    
 <!-- Destinationss container -->

<div class="container-fluid animals">
    <div class="row" id="result">
        <h2 class="title">Welcome to travel agency Mount Everest</h2>
    </div>
</div>
          <ul>
             <li class="list-group-item"><img src="{{asset('pictures/events.jpg')}}"</li>
           <td>Looking for things to do in Austria? 
           Look in our index of events!</td>
       </ul>
<div class="container row">
    <div class="col-6">
        <h4><i>Carnaval do Brasil</i></h4>
        <figure class="list-group-item"><a href="details/4"><img src="{{asset('pictures/brasil.jpg')}}" itemprop="image" width="256" height="256"></a></figure>
    </div>   
    <div class="col-6">
        <h4><i>Marriott Dinner</i></h4>
        <figure class="list-group-item"><a href="details/5"><img src="{{asset('pictures/dinner.jpg')}}" itemprop="image" width="256" height="256"></a></figure>
    </div> 
    <div class="col-6">
        <h4><i>Vivaldi</i></h4>
        <figure class="list-group-item"><a href="details/6"><img src="{{asset('pictures/vivaldi.jpg')}}" itemprop="image" width="256" height="256"></a></figure>
    </div>
    <div class="col-6">
        <h4><i>Salzburg Festival</i></h4>
        <figure class="list-group-item"><a href="details/3"><img src="{{asset('pictures/salzburg.jpg')}}" itemprop="image" width="256" height="256"></a></figure>
    </div><div class="col-6">
        <h4><i>Rihanna for You</i></h4>
        <figure class="list-group-item"><a href="details/2"><img src="{{asset('pictures/rihanna.jpg')}}" itemprop="image" width="256" height="256"></a></figure>
    </div><div class="col-6">
        <h4><i>The MildMay Jazz Club</i></h4>
        <figure class="list-group-item"><a href="details/7"><img src="{{asset('pictures/jazz.jpg')}}" itemprop="image" width="256" height="256"></a></figure>
    </div><div class="col-6">
        <h4><i>Ceramic Art London 2022</i></h4>
        <figure class="list-group-item"><a href="details/8"><img src="{{asset('pictures/ceramic.jpg')}}" itemprop="image" width="256" height="256"></a></figure>
    </div><div class="col-6">
        <h4><i>Rapid:Dinamo</i></h4>
        <figure class="list-group-item"><a href="details/9"><img src="{{asset('pictures/allianz.jpg')}}" itemprop="image" width="256" height="256"></a></figure>
    </div><div class="col-6">
        <h4><i>Seret Film Festival</i></h4>
        <figure class="list-group-item"><a href="details/1"><img src="{{asset('pictures/cinema.jpg')}}" itemprop="image" width="256" height="256"></a></figure>
    </div><div class="col-6">
        <h4><i>Divine Comedy</i></h4>
        <figure class="list-group-item"><a href="details/1"><img src="{{asset('pictures/comedy.jpg')}}" itemprop="image" width="256" height="256"></a></figure>
    </div>  
{% endblock %}